<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-fix-gradlew-permission" version="1.0.1">
  <name>Fix gradlew permission</name>
  <description>Fix gradlew permission on *nix</description>
  <author>tkikuchi2000@gmail.com</author>

  <license>MIT</license>

  <keywords>gradlew permission chmod</keywords>
  <repo>https://github.com/tkikuchi2000/cordova-plugin-fix-gradlew-permission.git</repo>
  <issue>https://github.com/tkikuchi2000/cordova-plugin-fix-gradlew-permission/issues</issue>


  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <!-- ios -->
  <hook src="scripts/fix_gradlew_permission.js" type="after_prepare" />

</plugin>
